<!-- <p>support works!</p> -->



<h2 style="font-size: 30px;">Request Support</h2>
<p style="font-size: 20px;">Please complete this form to request support from Sumadhi Solutions, Inc.</p>
<p style="font-size: 23px;">General Information:</p>


<form>
    <div class="row ">
      <div class="col col-md-5">
        <input type="text" class="form-control" placeholder="Company name">
      </div>&nbsp;&nbsp;&nbsp;
      <div class="col col-md-5">
        <input type="text" class="form-control" placeholder="Title">
    </div>
</div>
        
<br><br>
<!-- ------------ -->

<div class="row ">
    <div class="col col-md-5">
      <input type="text" class="form-control" placeholder="First name">
    </div>&nbsp;&nbsp;&nbsp;
    <div class="col col-md-5">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
</div>
      
<!-- ---------- -->
<br><br>
<div class="row ">
    <div class="col col-md-5">
      <input type="text" class="form-control" placeholder="Phone Number">
    </div>&nbsp;&nbsp;&nbsp;
    <div class="col col-md-5">
      <input type="email" class="form-control" placeholder="E-Mail">
    </div>
</div>

<!-- -------------- -->
<br><br>

<textarea name="" id="" cols="160" rows="10" placeholder="COMMENT HERE.............."></textarea>

</form>
<br><br>
<!-- ---------------------------------------------------------------------------------- -->
<p style="font-size: 23px;">Error Information:</p>

<form >


    <div class="row ">
        <div class="col col-md-10">
          <input type="text" class="form-control" placeholder="Company name">
        </div>
  </div>
  <!-- -------------- -->
     <br><br>


     <div class="row ">
        <div class="col col-md-5">
          <!-- <input type="text" class="form-control" placeholder="Phone Number"> -->
          <select id="inputState" class="form-control">
            <option >Product/System Select</option>
            <option>Act</option>
            <option>CRM</option>
            <option >SalesLogix</option>
            <option >Others</option>
          </select>
      

        </div>&nbsp;&nbsp;&nbsp;
        <div class="col col-md-5">
          <!-- <input type="email" class="form-control" placeholder="E-Mail"> -->
          <select id="inputState" class="form-control">
          <option >Product/Module Select</option>
          <option>Administrator</option>
          <option>E-Marketing</option>
          <option >Web Client</option>
          <option >Web Admin</option>
        </select>
    
        </div>
    </div>
<br><br>

<textarea name="" id="" cols="160" rows="10" placeholder="Error Message(s)/Description: 
COMMENT HERE.............."></textarea>
<br><br>


<textarea name="" id="" cols="160" rows="10" placeholder="Expected Result(s) vs Actual Result(s): 
COMMENT HERE.............."></textarea>
<br><br>


<textarea name="" id="" cols="160" rows="10" placeholder="Troubleshooting Details/Description of Action(s) Taken:
 
COMMENT HERE.............."></textarea>
<br><br>

  
</form>


<!-- ------------------------------------------------------------------------ -->


<p style="font-size: 23px;">Hardware Information:</p>



<div class="row ">
    <div class="col col-md-5">
      <!-- <input type="text" class="form-control" placeholder="Phone Number"> -->
      <select id="inputState" class="form-control">
          <option >System Memory</option>
        <option >1024 Memory</option>
        <option>2048 Memory</option>
        <option>3072 Memory</option>
        <option >4096 Memory</option>
        <option >Others</option>
      </select>
  

    </div>&nbsp;&nbsp;&nbsp;
    <div class="col col-md-5">
      <!-- <input type="email" class="form-control" placeholder="E-Mail"> -->
      <select id="inputState" class="form-control">
         
      <option >Internet Connectivity</option>
      <option>ISDN</option>
      <option>DSL</option>
      <option >Cable</option>
      <option >LAN</option>
      <OPtion>Others</OPtion>
    </select>

    </div>
</div>
<br><br>
<!-- ------------------------------------------------------------------------ -->
<p style="font-size: 23px;">Software Information</p>

<div class="row ">
    <div class="col col-md-5">
      <!-- <input type="text" class="form-control" placeholder="Phone Number"> -->
      <select id="inputState" class="form-control">
          <option >Operating System</option>
        <option >Win XP</option>
        <option>Win Vista</option>
        <option>Win 7</option>
        <option >Win 8</option>
        <option >Others</option>
      </select>
  

    </div>&nbsp;&nbsp;&nbsp;
    <div class="col col-md-5">
      <!-- <input type="email" class="form-control" placeholder="E-Mail"> -->
      <select id="inputState" class="form-control">
         
      <option >Bit</option>
      <option>32 Bit</option>
      <option >64 Bit</option>
    </select>

    </div>
</div><br><br>
<!-- --- -->


<div class="row ">
    <div class="col col-md-5">
      <!-- <input type="text" class="form-control" placeholder="Phone Number"> -->
      <select id="inputState" class="form-control">
          <option >Internet Browser</option>
        <option >Google Crome</option>
        <option>Internet Explorer</option>
        <option>Mozilla FireFox</option>
        <option >Others</option>
      </select>
  

    </div>&nbsp;&nbsp;&nbsp;
    <div class="col col-md-5">
        <input type="text" class="form-control" placeholder="Internet Browser Version">
    </div>

</div>
<br><br>
<!-- -- -->

<div class="row ">
    <div class="col col-md-5">
      <!-- <input type="text" class="form-control" placeholder="Phone Number"> -->
      <select id="inputState" class="form-control">
          <option >Virus Software</option>
        <option >MC Afee</option>
        <option>Norton</option>
        <option>KasperSky</option>
        <option >Others</option>
      </select>
  

    </div>
</div>

<br><br>
<!--  -->

<button style="justify-content: center;" type="submit" class="btn btn-primary">Submit </button>




<router-outlet></router-outlet>








