<!-- <p>homepage works!</p> -->



<!-- ----------CAROUSEL   -------------------------------------------------------- -->
<div class="container-fluid" col-md-6>

  <ngb-carousel *ngIf="images">

    <ng-template ngbSlide>
      <div class="wrapper">
        <img class="image" [src]="images[0]" alt="Random first slide">
      </div>
    </ng-template>


    <ng-template ngbSlide>
      <div class="wrapper">
        <img class="image" [src]="images[1]" alt="Random second slide">
      </div>
    </ng-template>


    <ng-template ngbSlide>
      <div class="wrapper">
        <img class="image" [src]="images[2]" alt="Random third slide">
      </div>
    </ng-template>


  </ngb-carousel>
</div>

<!-- ---------------------------------------------- -->


<!-- <div class="free-trail-para"> -->
<div class="free-trail-paraline">
  <p>Free Trial of Infor CloudSuite CRM - <b style="color: red;">Try it Yourself!</b> &nbsp;&nbsp;&nbsp; <button
      style="color: white;background-color: red;width: 300px;">Schedule a FREE DEMO</button> </p>
</div>
<!-- </div> -->

<!-- ----------------------------------------------------- -->




<div class="flex-container">
  <div class="flex-item-left">
    <div class="flex-item-left-image">
      <img
        src="https://images.unsplash.com/photo-1560264280-88b68371db39?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
        alt="" srcset="">
    </div>
    <p style="color: red; margin-top: 20px;">Customer Relationship Management</p>
    <p style="font-size: 17px;">Customer Relationship Management (CRM) is about acquiring, developing, and retaining
      profitable, loyal customers. CRM is a core element in any customer-centric business and is strengthened by a focus
      on four key areas: Strategy, People, Processes, and Technology. Selecting the right business consulting and
      technology... <a href="#">More</a></p>
  </div>


  <div class="flex-item-right">
    <div class="flex-item-right-image">
      <img
        src="https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80"
        alt="" srcset="">
    </div>
    <p style="color: red;margin-top: 20px;">Infor CloudSuite CRM Mobile</p><br>
    <p style="font-size: 17px;">While users have been able to access basic contact details on devices for some time,
      truly mobile CRM is a new frontier that holds great potential to significantly transform the way mobile users can
      connect to and interact with business-critical information-driving revenues, productivity, and customer
      satisfaction. Today's front-line, mobile field professionals are finding themselves... <a href="#">More</a></p>
  </div>

  <div class="flex-item-end">
    <div class="flex-item-end-image">
      <img
        src="https://images.unsplash.com/photo-1519241047957-be31d7379a5d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
        alt="" srcset="">
    </div>
    <p style="color: red;margin-top: 20px;">Xbar for Outlook</p><br>
    <p style="font-size: 17px;">The Xbar places rich CRM functionality directly within the Outlook environment. The vast
      majority of us spend the bulk of our day working in Microsoft Outlook, which has our contacts, calendar, tasks, as
      well as email communications in one place. , Outlook can't do everything for us, especially when it comes to
      managing..<a href="#">More</a></p>
  </div>

</div>


<!-- --------------------------------------------------------------------------- -->






<div class="flex-container3">
  <div class="flex-item-left3">
    <img width="270px" height="160px"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJRUTu6J8lGPhDFsHevprmZFv5O85ArTsB1w&usqp=CAU" alt=""
      srcset=""><br>
    <p style="margin-top: 20px;">Marketing Automation</p>
    <p style="font-size: 17px;">There is a Marketing Automation solution for Infor CloudSuite CRM to fit your needs.
      Whether you are doing monthly email newsletters and surveys or want fully integrated web form response, lead
      scoring, and event management.. <a href="#">more</a></p>
  </div>
  <div class="flex-item-right3">
    <img width="270px" height="160px"
      src="https://res.infoq.com/articles/api-first-integration/en/headerimage/a-seven-step-guide-to-API-first-integration-large-logo-1604605389027.jpg"
      alt="" srcset="">
    <p style="margin-top: 20px;">System Integration</p>
    <p style="font-size: 17px;">Companies are always looking for ways to lower costs, increase efficiencies across the
      enterprise, and realize a greater return on investment from their software initiatives. First and foremost, we
      believe software is a tool to help support..<a href="#">more</a></p>
  </div>
  <div class="flex-item-end3">
    <img width="270px" height="160px"
      src="https://cdn.technologyadvice.com/wp-content/uploads/2018/02/Workflow_automation_22-700x408.png" alt=""
      srcset="">
    <p style="margin-top: 20px;">Workflow & Alerts</p>
    <p style="font-size: 17px;">Workflow and Notification Alerts can help your business operate more effectively with
      less hands on intervention; lowering costs, allowing you to operate with less resources, and still staying in
      contact with customers at critical times in the..<a href="#">more</a></p>

  </div>
  <div class="flex-item-lastend3">
    <img width="270px" height="160px"
      src="https://s27389.pcdn.co/wp-content/uploads/2020/09/why-problem-solving-analytics-needs-new-thinking.jpeg"
      alt="" srcset="">
    <p style="margin-top: 20px;">Business Analytics</p>
    <p style="font-size: 17px;">Business Analytics are critical to the day to day operations of your company but are
      often only available weekly or monthly via complicated reports. Timely business decisions require access to key
      performance indicators at all levels of your...<a href="#">more</a></p>

  </div>
</div>



<!-- ------------------------------------------------------ -->



<div>
  <p style="color: red; font-size: 30px; font-weight: bold;">About Sumadhi Solutions, Inc.</p>
  <p style="font-size: 20px;margin-top: 20px;">Sumadhi Solutions, Inc. is a customer relationship management (CRM)
    business consulting and software development firm in Cincinnati/Dayton OH, Charleston WV, and Charlotte NC
    surrounding areas. We provide implementation, integration, development and training for Infor CloudSuite CRM
    (formerly Saleslogix). We have built our business on an ability to creatively adapt CRM to meet the varying needs of
    our customers' businesses. We have been helping our customers develop stronger relationships with their customers
    through improved sales, marketing, customer service, and support processes since 1994. <a href="#">more</a></p>
</div>

<!-- ------------------------------------------------------- -->


<hr>
<br>
<br>








<!-- <div class="slideshow-container">

  <div class="mySlides">
    <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
    <p class="author">- John Keats</p>
  </div>
  
  <div class="mySlides">
    <q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
    <p class="author">- Ernest Hemingway</p>
  </div>
  
  <div class="mySlides">
    <q>I have not failed. I've just found 10,000 ways that won't work.</q>
    <p class="author">- Thomas A. Edison</p>
  </div>
  
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
  
  </div>
  
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div> -->




<!-- <li style="float: left; list-style: none; position: relative; margin-right: 3px; width: 1134px;" aria-hidden="false">
  <blockquote class="style1" style="padding-top:20px;padding-left:85px;">
    <span>"We are now running our Monday forecast meetings right out of Saleslogix by reviewing project Opportunities
      and their current status. We used to manually update spreadsheets, print them, and then make multiple copies for
      each attendee at every meeting (time and money saved by eliminating this weekly process)."</span>
    <strong>
      - Rhonda MacDonald,<br>
      CRM Administrator
    </strong>
  </blockquote>
</li> -->



<!-- --------------------------------------------------------- -->