<!-- <p>solution1 works!</p> -->


<div class="imgline">
    <img style="width: 100%; height: 400px;" src="https://images.unsplash.com/photo-1573496773905-f5b17e717f05?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" srcset="">

  </div>
<br>
<br>
<div class="paragraph">
    <h2 style="font-size: 30px;">What is Lorem Ipsum?</h2>
    <p style="font-size: 20px;">What is Lorem Ipsum?
        Through partnerships with the leadin
        All job listings are refreshed hourly, so you can always check back to find the latest jobs near London, GB that are hiring now. Sign up for Job Alerts above to receive top job postings near you.


    
    </p>
    <br>
    <h2 style="font-size: 30px;">Where does it come from?</h2>
    <p style="font-size: 20px;">As a rapid web application development company, we offer custom web app development services that match your business
      requirements. As a web app development company, we work with the latest technologies to deliver end-to-end website
      application development solutions that are scalable, responsive, rapid & secure.
    </p>
    <button routerLink="/homepage" type="button" class="btn btn-primary">Back To Home</button>
</div>
<br>
<br>
<div class="content">
    <h1>Our HeadLines</h1>
    <p><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></p>
    <br>
    <h1>Please click on the below link</h1>
    <p><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></p>

</div>



<!-- <router-outlet></router-outlet> -->



