<!-- <p>service3 works!</p> -->


<div class="paraline">
<h2 style="font-size: 30px;">SOFTWARE PRODUCT DEVELOPMENT SERVICES</h2>
<p style="font-size: 20px;">Faster to time and market with supreme customer experience and continuous evolution in the midst of uncertainties are the most pressing concerns of disruptive product companies. As a product development company, we understand your challenges and work as a team to overcome them.</p>
<p style="font-size: 20px;">We transform your ideas into market-ready software products from the ground up, taking scalability, robustness and customizability into account. Our software product development teams have more than a decade of experience in delivering challenging solutions for global businesses including startps, agencies and enterprises.</p>

<button routerLink="contactus" type="button" class="btn btn-primary">Contact Us</button>
</div>


<div class="imgline">
    <img style="width: 90%; height: 500px;" src="https://images.unsplash.com/photo-1573496773905-f5b17e717f05?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" srcset="">

  </div>

<router-outlet></router-outlet>