<!-- <p>solution2 works!</p> -->

<div class="imgline">
    <img style="width: 100%; height: 400px;" src="https://images.unsplash.com/photo-1573496773905-f5b17e717f05?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" srcset="">

  </div>
<div class="paragraph">
    <h2 style="font-size: 30px;">What is Lorem Ipsum?</h2>
    <p style="font-size: 20px;">What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing
         and typesetting industry. Lorem Ipsum has been the 
         
    
    </p>
    <h2 style="font-size: 30px;">Where does it come from?</h2>
    <p style="font-size: 20px;">As a rapid web application development company, we offer custom web app development services that match your business
      requirements. As a web app development company, we work with the latest technologies to deliver end-to-end website
      application development solutions that are scalable, responsive, rapid & secure.
    </p>
    <button routerLink="/homepage" type="button" class="btn btn-primary">Back To Home</button>
</div>
<div class="content">
    <h1>For More Informations</h1>
    <p><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></p>
    <br>
    <h1>Click The Below Link</h1>
    <p><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></p>
</div>

<!-- <router-outlet></router-outlet> -->
