
.paragraph{
    width: 60%;
    height: 500px;
    margin-top: 20px;
    float: left;
      }
      .content{
        width: 35%;
        float: right;
        margin-top: 20px;
          }
          .content h1{
              color: red;
          }
@media (max-width:1170px) {
 .content{
    
float: inherit;
width: 70%;
}
.paragraph{
 width: 100%;
}
}