<!-- <p>service2 works!</p> -->


<div class="paraline">
<h2 style="font-size: 30px;">MOBILE APPLICATION DEVELOPMENTSERVICES</h2>
<p style="font-size: 20px;">At Sumadhi, With our expertise in Native/Hybrid mobile app development, we assemble everything from mobile apps wireframing to mobile app launch & maintenance for Google play store & Apple store.</p>
<p style="font-size: 20px;">Do you need experts to build your mobile application at a competitive price? As a mobile application development company, we provide unmatched full-stack mobile application development services globally to a broad range of business verticals & help them enhance their market reach, growth and ROI.
    Native apps are popular in the mobile industry as they can take advantage of the specific operating system's inbuilt features and perform fast and smooth at the same time.
    Many businesses prefer hybrid apps as they can use the same code for all to be compatible with varied mobile platforms like iPhone, Android etc.</p>

    <button routerLink="contactus" type="button" class="btn btn-primary">Contact Us</button>
</div>

<div class="imgline">
    <img style="width: 90%; height: 500px;" src="https://images.unsplash.com/photo-1609851451108-e937620f1210?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" srcset="">

  </div>
<router-outlet></router-outlet>